<configuration>
	<windows>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity type="win32" name="Microsoft.VC80.CRT" processorArchitecture="x86" publicKeyToken="1fc8b3b9a1e18e3b"></assemblyIdentity>
				<bindingRedirect oldVersion="8.0.50727.762-8.0.50727.6195" newVersion="8.0.50727.6195"/>
				<assemblyIdentity type="win32" name="Microsoft.VC80.MFC" processorArchitecture="x86" publicKeyToken="1fc8b3b9a1e18e3b"></assemblyIdentity>
				<bindingRedirect oldVersion="8.0.50727.762-8.0.50727.6195" newVersion="8.0.50727.6195"/>
			</dependentAssembly>
		</assemblyBinding>
	</windows>
</configuration>